# 리스트
>- List
- 배열이라고 생각하면 된다.
- 다만, 배열과 달리 여러 자료형을 담을 수 있다.

---
<br><br><br>

# jupyter notebook 이용시 작은 팁
>- tab키를 사용하여 관련 함수를 검색할 수 있다.
- shift + tab을 사용하면 함수 이용법을 알 수 있다.
- ctrl + enter를 사용하면 셀에 대해 결과를 출력할 수 있다.
- shift + enter를 사용하면 결과 출력 및 추가 셀을 생성할 수 있다.
- 이 외의 팁은 Help 에서 찾아보도록 한다.

---

<br><br><br>

In [76]:
list1 = []

>- list1 = list() 와 동일

<br><br><br>

# 리스트 슬라이싱

In [77]:
list1 = [123, 410, 30, 29]

print(list1[2])
print(list1[2:4])
print(list1)
type(list1)

30
[30, 29]
[123, 410, 30, 29]

list

>- 슬라이싱 적용가능

<br><br><br>

In [78]:
list2 = ['hello', [142, 'knut', '멋사'], 999]

print(list2[1])
print(list2[1][2])

[142, 'knut', '멋사']
멋사

>- 여러 자료형 담을 수 있다.
- 배열처럼 인덱스로 접근 가능

<br><br><br>

In [79]:
list2 = ['hello', [142, 'knut', '멋사'], 999]

print(list2)

list2[1] = 'a'

print(list2)

['hello', [142, 'knut', '멋사'], 999]
['hello', 'a', 999]

>- 리스트 값 수정 가능

<br><br><br>

In [80]:
list2 = ['hello', [142, 'knut', '멋사'], 999, '흐으음']

print(list2)

list2[1:3] = 'ㅁ'

print(list2)

['hello', [142, 'knut', '멋사'], 999, '흐으음']
['hello', 'ㅁ', '흐으음']

>- 슬라이싱을 이용한 리스트 값 수정

<br><br><br>

In [81]:
list2 = ['hello', [142, 'knut', '멋사'], 999, '흐으음']
print(list2)

list2[1:3] = []

print(list2)

['hello', [142, 'knut', '멋사'], 999, '흐으음']
['hello', '흐으음']

>- 슬라이싱을 이용한 리스트 값 삭제

<br><br><br>

# 리스트 내장함수

In [82]:
list2 = ['hello', [142, 'knut', '멋사'], 999, '흐으음']

print(list2)

del list2[0:2]

print(list2)

['hello', [142, 'knut', '멋사'], 999, '흐으음']
[999, '흐으음']

>- del() 함수와 슬라이싱을 사용하여 리스트 값 삭제

<br><br><br>

In [83]:
list2 = ['hello', [142, 'knut', '멋사'], 999, '흐으음']

print(list2)

list2.append(123)

print(list2)

['hello', [142, 'knut', '멋사'], 999, '흐으음']
['hello', [142, 'knut', '멋사'], 999, '흐으음', 123]

>- append() 함수는 리스트 맨 뒤에 추가
- append() 함수는 인자를 1개만 사용 가능

<br><br><br>

In [84]:
list2 = [94, 46, 51, 61, 4, 78]

list2.sort()

print(list2)

list2.sort(reverse = True)

print(list2)

[4, 46, 51, 61, 78, 94]
[94, 78, 61, 51, 46, 4]

>- sort() 함수를 이용하면 오름차순 정렬을 할 수 있다.
- 인자로 reverse = True 를 사용하면 역으로 정렬(내림차순)할 수 있다.

<br><br><br>

In [85]:
list2 = [94, 46, 51, 61, 4, 78]

print(list2)

list2.reverse()

print(list2)

[94, 46, 51, 61, 4, 78]
[78, 4, 61, 51, 46, 94]

>- reverse() 함수를 사용하면 리스트 순서를 뒤집어준다.

<br><br><br>

In [86]:
list2 = [94, 46, 51, 61, 4, 78]

print(list2)

print(list2.index(51))
print(list2.index(78))

[94, 46, 51, 61, 4, 78]
2
5

>- index() 함수는 인자로 설정한 값의 인덱스 번호를 출력한다.

<br><br><br>

In [87]:
list2 = [94, 46, 51, 61, 4, 78]

print(list2)

list2.insert(3, '안녕')

print(list2)

[94, 46, 51, 61, 4, 78]
[94, 46, 51, '안녕', 61, 4, 78]

>- insert() 함수는
- 첫번째 인자는 인덱스 번호를 설정하고
- 두번재 인자는 넣을 값을 설정한다.

<br><br><br>

In [88]:
list2 = [94, 46, 33, 46, 46, 78]

print(list2)

list2.remove(46)

print(list2)

[94, 46, 33, 46, 46, 78]
[94, 33, 46, 46, 78]

>- remove() 함수는 인자로 설정한 값을 리스트에서 찾고
- 가장 먼저 나오는 것만 삭제한다.

<br><br><br>

In [89]:
list2 = [94, 46, 33, 100, 123, 78]

print(list2)

a = list2.pop()

print(list2)
print(a)

[94, 46, 33, 100, 123, 78]
[94, 46, 33, 100, 123]
78

>- pop() 함수는 리스트의 가장 마지막 값을 삭제

<br><br><br>

In [90]:
list2 = [94, 46, 33, 46, 46, 78, 94]

print(list2)

print(list2.count(46))
print(list2.count(94))

[94, 46, 33, 46, 46, 78, 94]
3
2

>- count() 함수는 인자로 설정된 값이
- 리스트 안에서 몇 개 있는지 세는 함수

<br><br><br>

In [91]:
list2 = ['abc', 123, 'test2', 1111]

print(list2)

list3 = ['음', [4567, '흐으음'], '그래']

list2.extend(list3)

print(list2)

['abc', 123, 'test2', 1111]
['abc', 123, 'test2', 1111, '음', [4567, '흐으음'], '그래']

>- extend() 함수는 인자로 리스트를 받으며
- 리스트 간의 병합을 할 수 있다.

<br><br><br>

In [92]:
list3 = ['음', [4567, '흐으음'], '그래']

print(len(list3))
print(len(list3[0]))
print(len(list3[1]))
print(len(list3[1][1]))

3
1
2
3

>- len() 함수는 리스트 뿐만 아니라 
- 여러 객체들의 개수를 얻을 때 사용한다.


<br><br><br>

## 기타 리스트 내장 함수
>- 이 외에도 많은 내장 함수들이 있으므로
- 스스로 학습하도록 한다.