# 들어가기에 앞서
>- 파이썬은`인터프리터 언어`이기 때문에 한줄씩 명령어를 해석한다.
- 본 환경은 jupyter notebook으로 작성하였다.

---
<br>

# 숫자형
---
<br>

## 정수형

In [16]:
a = 1234

print(a)
type(a)

1234

int

>- 변수 a는 정수형 자료형이다
---
<br>

## 실수형

In [17]:
b = -1.2

print(b)
type(b)

-1.2

float

>- 변수 b는 실수형 자료형이다.
---
<br>

## 8진수, 16진수

In [18]:
a = 0o457

print(a)

303

>- 8진수를 만들기 위해서는 `0(숫자) + o(영어 소문자)`를 앞에 써준다.

In [19]:
b = 0xfa6

print(b)

4006

>- 16진수를 만들기 위해서는 `0(숫자) + x(영어 소문자)`를 앞에 써준다.

<br><br><br>

## 연산자 활용

In [20]:
print(100 + 923)

1023

In [21]:
print(8 - 19)

-11

In [22]:
print(9 * 11)

99

In [23]:
print(2 ** 5)

32

>- **연산자는 제곱
---

In [24]:
a = 40 / 4

print(a)
type(a)

10.0

float

>- 나누기 연산자 이용시 실수형인 float형으로 계산됨
---

In [25]:
a = 40 // 4

print(a)
type(a)

10

int

>- '//' 연산자 : 몫 연산
---

In [26]:
a = 20 % 3

print(a)
type(a)

2

int

- '%' 연산자 : 나머지 연산